@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

html, body {
    height: 100%;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.sidebar {
    width: 250px;
    height: 100%;
    background-color: #201547;
    display: flex;
}
.sidebar-header {
    height: 72px;
    align-items: center;
    display: flex;
    align-content: center;
    padding: 0 16px;
}
.sidebar-header h2 a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}
.sidebar-container {
    display: flex;
    overflow: auto;
    height: 100%;
    width: 100%;
}
.h-100 {
    height: 100%;
}
.w-100 {
    width: 100%;
}

.list-group-item {
    background: none;
    border: 0px;
    color: #fff;
}

.accordion, .accordion-button, .accordion-button:not(.collapsed), .accordion-item {
    background-color: transparent;
    color: #fff;
    box-shadow: none;
}
.accordion-item {
    border: 0;
} 
.accordion-item a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}
.accordion-body {
    padding: 0 1.25rem 1.25rem 2.25rem;
}
.accordion-body a {
    font-weight: 400;
    color: #8a80a6;
}
.accordion-body a:hover {
    color: #fff;
}
.accordion-button:focus {
    border: 0;
    box-shadow: none;
}
.accordion-button:not(.collapsed)::after {
    background-image: url(../images/chevron-down.svg);
}
.accordion-button::after {
    background-image: url(../images/chevron-up.svg);  
}

/* Content */
.content-main {
    height: 100%;
    overflow: hidden;
}
.content-header {
    height: 72px;
    background-color: #fff;
    border-bottom: 1px solid #dcdcdc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 0 72px;
}
.content-header .form-control {
    border-left: 0;
}
.content-header .input-group-text {
    border-right: 0;
}
.content-header-link {
    font-size: 16px;
    font-weight: 500;
    color: #e20041;
}
.content-header-link svg {
    width: 22px;
}
.content-header-link a {
    color: #201547;
    text-decoration: none;
}

.content-container {
    padding: 36px 72px;
    overflow: auto;
    height: calc(100% - 72px);
    width: 100%;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    outline: 0;
    box-shadow: none;
}

/* Footer */
.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px 0 0;
    border-top: 1px solid #dcdcdc;
}
.container-footer a {
    color: #201547;
}